
/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../bower_components/ionic/release/fonts" !default;

@import "~ionic/scss/ionic";

.scroll{
	height:100%!important;
	width:100%;
}

.on-show-test{
		transition: all .600s ease-in-out;
					transform:scale(100);          
}


.on-show{
  -webkit-animation:bounceIn .7s linear;
     -moz-animation:bounceIn .7s linear;
          animation:bounceIn .7s linear; 
}


.zone{
    text-align: center;
    margin: 0px auto;
    width: 200px;
    padding-top: 20%;
}

.zone .title{
	color: rgb(12, 96, 238);
	font-weight: 700;
	font-size: 20px;
}

.zone .button{
    border: 30px solid #0c60ee;
    border-radius: 50%;
    margin: 10% auto;
    width: 150px;
    height: 150px;
    padding: 5%;
}

.zone .button .fa{
	color: rgb(12, 96, 238);
}

.slider {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
}

/*.slider-slide {
  color: #000;
  background-color: #ddd;
}*/

.button.ng-hide{
  display:none;
}

.zone, .scroll {
  height: 100%;
  min-height: 100%;
}
